<div id="item_menu">
	<a n:href="general" n:class="$presenter->isLinkCurrent('Settings:general') ? active">Obecné nastavení</a>
	<a n:href="topBox" n:class="$presenter->isLinkCurrent('Settings:topBox') ? active">Volitelný horní box</a>
	<a n:href="bottomBox" n:class="$presenter->isLinkCurrent('Settings:bottomBox') ? active">Volitelný dolní box</a>
</div>
<hr class="line">
