a {
	color: @brand-primary;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	color: #163C54;
	text-decoration: none;
}
p#logout {
	float: right;
	display: block;
	margin: 5px;
	font-size: 1.1em;
}
.form-control:focus {
	border-color: @brand-primary;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 105, 225, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 105, 225, 0.6);
}
hr.line {
	border: 1px solid #999999;
	margin: 10px 0;
}
h1 {
	margin-top: 0;
	font-variant: small-caps;
	font-family: "Calibri", sans-serif;
	color: @brand-secondary;
	font-size: 32px;
}
.em11 {
	font-size: 1.1em;
}
.em12 {
	font-size: 1.2em;
}
.em15 {
	font-size: 1.5em;
}
img {
	max-width: 100%;
	height: auto;
}
.editor_badge {
	background: #cccccc;
	border-radius: 3px;
	color: black;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.1;
	padding: 1px 3px;
	margin: 0 2px;
}
.help label { // Settings:general
	border-bottom: 1px dotted black;
	cursor: help;
}
ul.error li {
	color: red;
	font-weight: bold;
}
