h2#header {
	font-weight: bold;
	text-shadow: 10px 10px 10px #666;
	margin: 27px 0;
	a {
		color: @brand-secondary;
		font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
		font-style: italic;
		padding: 1em;
		margin: 0;
		margin-left: 50px;
		font-size: 32px;
		&:hover {
			color: #030309;
			text-decoration: none;
		}
	}
	& + p {
		position: relative;
		top: -22px;
		margin-left: 65px;
		padding-left: 1em;
		font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
		font-style: italic;
	}
}