body {
	font-family: "Calibri", sans-serif;
	background:
		linear-gradient(27deg, #EAEAEA 5px, transparent 5px) 0px 5px,
		linear-gradient(207deg, #EAEAEA 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #DDDDDD 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #DDDDDD 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #E4E4E4 10px, transparent 10px),
		linear-gradient(#E2E2E2 25%, #E5E5E5 25%, #E5E5E5 50%, transparent 50%, transparent 75%, #DBDBDB 75%, #DBDBDB);
	/* http://lea.verou.me/css3patterns/#carbon */
	background-color: #ECECEC;
	background-size: 20px 20px;
	font-size: 16px;
}
#wrapper {
	max-width: 950px;
	padding: 0;
	width: 100%;
}
#page {
	box-shadow: 0 0 60px 10px #A8A8A8;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	padding: 20px 0;
}
#content {
	padding: 0 15px;
	color: #111111;
}

@media (max-width: @xs-max-width) {
	#content {
		padding-bottom: 20px;
	}
}
