@lg-min-width: 1200px;
@md-max-width: 1199px;

@md-min-width: 992px;
@sm-max-width: 991px;

@sm-min-width: 768px;
@xs-max-width: 767px;
/*
@brand-primary: #001F62; // dark blue
@brand-secondary: #C7D8FE; // light blue
@brand-terciary: #FDDA17; // orange
*/