<p id="item_menu">
	<a n:href="Poll:detail, $poll->id_poll" n:class="$presenter->isLinkCurrent('Poll:detail') ? active">Anketa</a>
	<a n:href="Poll:articles, $poll->id_poll" n:class="$presenter->isLinkCurrent('Poll:articles') ? active">Články</a>
	<a n:href="Poll:edit, $poll->id_poll" n:class="$presenter->isLinkCurrent('Poll:edit') ? active">Upravit anketu</a>
	<a n:href="Poll:delete, $poll->id_poll" n:class="$presenter->isLinkCurrent('Poll:delete') ? active">Smazat anketu</a>
</p>
