<p id="item_menu">
	<a n:href="new" n:class="$presenter->isLinkCurrent('Rank:new') ? active">Nejnovější</a>
	<a n:href="visited" n:class="$presenter->isLinkCurrent('Rank:visited') ? active">Nejnavštěvovanější</a>
	<a n:href="commented" n:class="$presenter->isLinkCurrent('Rank:commented') ? active">Nejdiskutovanější</a>
</p>
