{var $title = "Upravit článek: ".$article->title}

{block content}

<h2>{$article->title}</h2>

{include one_article_menu.latte}

{control editArticleForm}

<div id="ajax_loader" class="articles"></div>
{snippet ajaxSaveArticle}
<div n:ifset="$ajaxMessage" class="flash {$ajaxMessage['status']}">
	<span class="icons"></span><span class="text">{$ajaxMessage['message']}</span>
</div>
{/snippet}
