{var $title = $article->title}

{block content}

<div class="row admin-article">
<div class="col-sm-3">
	{include article_menu.latte}
</div>
<div class="col-sm-9">
	<h2>{$article->title}</h2>

	{include one_article_menu.latte}

	{$article->text|noescape}
</div>
</div>
