<p id="item_menu">
	<a n:href="detail, $tag->id_tag" n:class="$presenter->isLinkCurrent('Tags:detail') ? active">Štítek</a>
	<a n:href="edit, $tag->id_tag" n:class="$presenter->isLinkCurrent('Tags:edit') ? active">Upravit štítek</a>
	<a n:href="Post:tag, $tag->url" onclick="window.open(this.href); return false">Náhled</a>
	<a n:href="delete, $tag->id_tag" n:class="$presenter->isLinkCurrent('Tags:delete') ? active">Smazat štítek</a>
</p>
