{var $title = "Smazat editora: ".$editor->name}

{block content}

<h2>Smazat editora: {$editor->name}</h2>

<p>Opravdu chcete tohoto editora <strong>nenávratně</strong> smazat?</p>

{control deleteEditorForm}
