<div id="header">
	<p n:if="$user->isLoggedIn()" id="logout"><a n:href="Article:default">{$user->identity->data["name"]}</a> | <a n:href="Sign:out">Odhlásit se</a></p>
	<span class="header-image"></span>
	<h2><a accesskey="2" n:href="Post:default" title="Hlavní strana webu - {$big_title}">{$big_title}</a></h2>
	<p>{$small_title}</p>
</div>
<a id="under-header"></a>