<p id="item_menu">
	<a n:href="name" n:class="$presenter->isLinkCurrent('Profil:name') ? active">Změnit jméno</a>
	<a n:href="password" n:class="$presenter->isLinkCurrent('Profil:password') ? active">Změnit heslo</a>
</p>
