<!DOCTYPE html>
<html lang="cs-cz" dir="ltr">
<head>
	<meta charset="UTF-8">
	{var $desc = (isset($title) ? $title." | " : "") .$big_title}
	<title>{$desc}</title>
	<link rel="shortcut icon" href="/img/ico.ico">
	<meta name="description" content="{$desc}">
	{if isset($robots)}
		<meta name="robots" content="{$robots}">
	{else}
		{ifCurrent Post:*}
			<meta name="robots" content="index,follow">
		{else}
			<meta name="robots" content="noindex,nofollow">
		{/ifCurrent}
	{/if}

		<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.min.css" media="screen, projection">
	{if $presenter->isLinkCurrent("Post:*") || $presenter->isLinkCurrent("Error:*")}
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/css.css" media="screen, projection">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/print.css" media="print">
		<link rel="alternate" type="application/rss+xml" href="{$basePath}/rss/articles" title="{$big_title} - články">
		<link rel="alternate" type="application/rss+xml" href="{$basePath}/rss/comments" title="{$big_title} - komentáře">
		<script n:if="$ga !== null" type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', {$ga}]);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	{else}
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/admin.css">
	{/if}
	<meta name="viewport" content="initial-scale=1">
</head>

<body>
	<div id="wrapper" class="container">
		<div class="hidden">
			<a accesskey="0" href="#under-header" rel="nofollow" title="Přeskočit hlavičku a menu - přejít na obsah stránky">Přeskočit hlavičku a menu - přejít na obsah stránky</a>
			<br>
			<a accesskey="1" href="http://www.ippi.cz/klavesove-zkratky/neni-vyhledavani.html" rel="nofollow" title="Nápověda ke klávesovým zkratkám">Nápověda ke klávesovým zkratkám</a>
			<br>
			<a accesskey="3" href="{$basePath}/map" title="Mapa stránek - Struktura webu přehledně">Mapa webu</a>
		</div>
	{if $presenter->isLinkCurrent("Post:*") || $presenter->isLinkCurrent("Error:*")}
		<h2 id="header"><a accesskey="2" n:href="Post:default" title="Hlavní strana webu - {$big_title}">{$big_title}</a></h2>
		<p>{$small_title}</p>

		<a id="under-header"></a>

		{if $presenter->isLinkCurrent("Post:*")}
		<div id="page">
		{else}
		<div id="errorpage">
		{/if}

		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">
			<span class="icons"></span><span class="text">{$flash->message}</span>
		</div>

		<div class="row">
			<div class="col-sm-9">
				<div id="content">
					{include content}
				</div>
			</div>
			<div class="col-sm-3">
				{include sidebar.latte}
			</div>
		</div> {* <.row> *}
		</div> {* <#page> *}
		{include footer.latte}
	{else}
		<a n:if="$user->isLoggedIn()" n:href="Sign:out" id="logout">Odhlásit se</a>
		<h2 id="header"><a accesskey="2" n:href="Post:default" title="Hlavní strana webu - {$big_title}">{$big_title}</a></h2>
		{include "editor_menu.latte"}
		<div id="page">
			<div n:foreach="$flashes as $flash" class="flash {$flash->type}">
				<span class="icons"></span><span class="text">{$flash->message}</span>
			</div>
			<div id="content">
				{include content}
			</div>
		</div>
	{/if}
	</div> {* <#wrapper> *}
	{include js.latte}
</body>
</html>
