<!DOCTYPE html>
<html lang="cs-cz" dir="ltr">
<head>
	<meta charset="UTF-8">
	{var $desc = (isset($title) ? $title." | " : "") .$big_title}
	<title>{$desc}</title>
	<link rel="shortcut icon" href="/img/ico.ico">
	<meta name="description" content="{$desc}">
	{if isset($robots)}
		<meta name="robots" content="{$robots}">
	{else}
		{ifCurrent Post:*}
			<meta name="robots" content="index,follow">
		{else}
			<meta name="robots" content="noindex,nofollow">
		{/ifCurrent}
	{/if}
	{include includes/css.latte}
	<meta name="viewport" content="initial-scale=1">
</head>

<body class="no-js">
<script>document.body.className = ''</script>
	<div id="wrapper" class="container">
		<div class="hidden">
			<a accesskey="0" href="#under-header" rel="nofollow" title="Přeskočit hlavičku a menu - přejít na obsah stránky">Přeskočit hlavičku a menu - přejít na obsah stránky</a>
			<br>
			<a accesskey="1" href="http://www.ippi.cz/klavesove-zkratky/neni-vyhledavani.html" rel="nofollow" title="Nápověda ke klávesovým zkratkám">Nápověda ke klávesovým zkratkám</a>
			<br>
			<a accesskey="3" href="{$basePath}/map" title="Mapa stránek - Struktura webu přehledně">Mapa webu</a>
		</div>
	{if $presenter->isLinkCurrent("Post:*") || $presenter->isLinkCurrent("Error:*")}
		{include includes/header.latte}
		<div id="page">
			{include includes/flash.latte}
			<div class="row">
				<div class="col-sm-9">
					<div id="content">
						{include content}
					</div>
				</div>
				<div class="col-sm-3">
					{include includes/sidebar.latte}
				</div>
			</div>
		</div>
		{include includes/footer.latte}
	{else}
		{include includes/admin_header.latte}
		{include includes/admin_menu.latte}
		<div id="page">
			{include includes/flash.latte}
			<div id="content">
				{include content}
			</div>
		</div>
	{/if}
	</div> {* <#wrapper> *}
	{include includes/js.latte}
</body>
</html>
