a {
  color: #4169E1;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: #163C54;
  text-decoration: none;
}
p#logout {
  float: right;
  display: block;
  margin: 5px 10px;
  font-size: 1.1em;
}
.form-control:focus {
  border-color: #4169E1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 105, 225, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 105, 225, 0.6);
}
hr.line {
  border: 1px solid #999999;
  margin: 10px 0;
}
h1 {
  margin-top: 10px;
  font-variant: small-caps;
  font-family: "Calibri", sans-serif;
  color: #000080;
  font-size: 32px;
}
.em11 {
  font-size: 1.1em;
}
.em12 {
  font-size: 1.2em;
}
.em15 {
  font-size: 1.5em;
}
img {
  max-width: 100%;
  height: auto;
}
.editor_badge {
  background: #cccccc;
  border-radius: 3px;
  color: black;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.1;
  padding: 1px 3px;
  margin: 0 2px;
}
.help {
  border-bottom: 1px dotted black;
  cursor: help;
}
.help > * {
  cursor: help;
}
ul.error li {
  color: red;
  font-weight: bold;
}
body {
  font-family: "Calibri", sans-serif;
  background-color: #ECECEC;
  background-size: 20px 20px;
  font-size: 16px;
}
#wrapper {
  max-width: 950px;
  padding: 0;
  width: 100%;
}
#page {
  background-color: #FFFFFF;
  margin-bottom: 20px;
  padding: 20px 0;
}
#content {
  padding: 0 15px;
  color: #111111;
}
@media (max-width: 767px) {
  #content {
    padding-bottom: 20px;
  }
}
.ajaxsuccess {
  color: #008000;
  font-weight: bold;
}
.ajaxerror {
  color: #800000;
  font-weight: bold;
}
#ajax_loader {
  background-image: url('../../img/ajax-load.gif');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: relative;
  float: left;
  display: none;
}
#ajax_loader.articles {
  left: 49%;
  top: -10px;
}
.admin-article h2 {
  margin-top: 10px;
}
.admin-article ul.article_menu {
  margin-top: 10px;
  font-size: 1.2em;
}
.admin-article ul.article_menu ul {
  display: none;
}
.admin-article ul.article_menu a.active + ul {
  display: block;
}
.admin-article ul.article_menu a.active {
  color: green;
}
body.no-js .admin-article ul.article_menu ul {
  display: block;
}
.flash {
  color: black;
  background-color: white;
  border: 1px solid #333333;
  padding: 16px;
  margin: 0 20px;
  position: relative;
  font-weight: bold;
  border-radius: 0;
}
.flash.error,
.flash.authentification,
.flash.reload {
  border-color: red;
  background-color: #FFC0CB;
}
.flash.error span.icons {
  background-position: -45px 0;
}
.flash.authentification span.icons {
  background-position: -87px 0;
}
.flash.reload span.icons {
  background-position: -129px 0;
}
.flash.success {
  border-color: green;
  background-color: #98FB98;
}
.flash.success span.icons {
  background-position: 0 0;
}
.flash span.icons {
  background-image: url("../../img/icons.png");
  height: 35px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 36px;
}
.flash span.text {
  padding-left: 50px;
}
.flash.ajax {
  display: none;
  position: fixed;
  top: 1px;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  z-index: 5;
}
#header {
  background-color: white;
  margin-bottom: 50px;
  padding-left: 13px;
}
#header .header-image {
  background: url("/img/header.jpg");
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  border-radius: 50%;
  margin-top: 9px;
  margin-left: 5px;
}
#header h2 {
  margin: 0;
  margin-left: 125px;
}
#header h2 > a {
  font-size: 32px;
  text-decoration: none;
  margin-top: 26px;
  display: inline-block;
  margin-bottom: 35px;
}
#header h2 > a:hover {
  color: #030309;
  text-decoration: none;
}
#header h2 + p {
  position: relative;
  top: -33px;
  margin-left: 127px;
}
.item_menu a,
.item_menu span {
  font-size: 1.1em;
  margin-right: 8px;
  font-weight: bold;
}
.item_menu a.active,
.item_menu span.active {
  color: green;
}
ul.editor-menu {
  clear: both;
  list-style: none;
  margin: 20px;
  padding-left: 5px;
}
ul.editor-menu li {
  float: left;
}
ul.editor-menu li a {
  background-color: #054560;
  border: 1px solid black;
  color: white;
  display: block;
  font-size: 1.2em;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
}
ul.editor-menu li a.active {
  background-color: white;
  border-bottom: none;
  color: #4169E1;
  position: relative;
  top: 1px;
}
ul.editor-menu li a:hover,
ul.editor-menu li a:focus {
  background-color: #6B81CF !important;
  color: black !important;
}
@media (min-width: 701px) {
  .navbar-toggle {
    display: none;
  }
  ul.editor-menu {
    display: block;
  }
}
@media (max-width: 700px) {
  .navbar-toggle {
    background-color: white;
    border: 1px solid grey;
    position: relative;
    float: right;
    clear: right;
  }
  .navbar-toggle > .icon-bar {
    background-color: #4169E1;
  }
  .navbar-toggle:hover > .icon-bar {
    background-color: #000080;
  }
  ul.editor-menu {
    display: none;
    margin: 0;
    padding: 0;
  }
  ul.editor-menu li {
    float: none;
  }
  ul.editor-menu li a {
    margin-right: 0;
    padding-left: 10px;
    border-left: none;
    border-right: none;
  }
  ul.editor-menu li a.active {
    border-bottom: 1px solid black;
    position: static;
    top: 0;
    padding-left: 20px;
  }
  ul.editor-menu.collapsing {
    display: block;
  }
}
table.grid {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}
table.grid caption {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  margin: 0.7em 0;
}
table.grid td {
  border: 1px solid #add4fb;
  padding: 6px 6px 6px 12px;
  background: white;
}
table.grid th {
  border: 1px solid #add4fb;
  padding: 6px 6px 6px 12px;
  background-color: #E4F1FC;
  color: #7a7772;
  text-align: left;
  font-weight: normal;
}
table.grid tr.special td {
  background-color: #E4E1FC;
}
table.grid#comment tr.even + tr {
  border-bottom: 2px solid #7db9f5;
}
table.grid#comment tr.even.deleted + tr td {
  background-color: #dddddd;
}
table.grid#comment tr.even.deleted td {
  background-color: #bbbbbb;
}
table.grid#comment tr.even td {
  width: 20%;
  color: #7a7772;
  background-color: #E4F1FC;
  text-align: left;
  font-weight: normal;
}
/*# sourceMappingURL=admin.css.map */