a {
  color: royalblue;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: #163c54;
  text-decoration: none;
}
p#logout {
  float: right;
  display: block;
  margin: 5px;
  font-size: 1.1em;
}
.form-control:focus {
  border-color: royalblue;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 105, 225, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 105, 225, 0.6);
}
hr.line {
  border: 1px solid #999999;
  margin: 10px 0;
}
h1 {
  margin-top: 0;
  font-variant: small-caps;
  font-family: "Calibri", sans-serif;
  color: navy;
  font-size: 32px;
}
.em11 {
  font-size: 1.1em;
}
.em12 {
  font-size: 1.2em;
}
.em15 {
  font-size: 1.5em;
}
img {
  max-width: 100%;
  height: auto;
}
.editor_badge {
  background: #cccccc;
  border-radius: 3px;
  color: black;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.1;
  padding: 1px 3px;
  margin: 0 2px;
}
.help label {
  border-bottom: 1px dotted black;
  cursor: help;
}
ul.error li {
  color: red;
  font-weight: bold;
}
body {
  font-family: "Calibri", sans-serif;
  background: linear-gradient(27deg, #eaeaea 5px, transparent 5px) 0px 5px, linear-gradient(207deg, #eaeaea 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #dddddd 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #dddddd 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #e4e4e4 10px, transparent 10px), linear-gradient(#e2e2e2 25%, #e5e5e5 25%, #e5e5e5 50%, transparent 50%, transparent 75%, #dbdbdb 75%, #dbdbdb);
  /* http://lea.verou.me/css3patterns/#carbon */
  background-color: #ececec;
  background-size: 20px 20px;
  font-size: 16px;
}
#wrapper {
  max-width: 950px;
  padding: 0;
  width: 100%;
}
#page,
#errorpage {
  box-shadow: 0 0 60px 10px #a8a8a8;
  border-radius: 5px;
  background-color: white;
}
#content {
  padding: 20px 10px;
  color: #111111;
}
.admin-article h2 {
  margin-top: 10px;
}
.admin-article ul.article_menu {
  margin-top: 10px;
  font-size: 1.2em;
}
.admin-article ul.article_menu a.active {
  color: green;
}
.flash {
  color: black;
  background-color: white;
  border: 1px solid #333333;
  padding: 16px;
  margin: 0 16px 5px 16px;
  top: 16px;
  position: relative;
  font-weight: bold;
}
.flash.error,
.flash.authentification,
.flash.reload {
  border-color: red;
  background-color: pink;
}
.flash.error span.icons {
  background-position: -45px 0;
}
.flash.authentification span.icons {
  background-position: -87px 0;
}
.flash.reload span.icons {
  background-position: -129px 0;
}
.flash.success {
  border-color: green;
  background-color: palegreen;
}
.flash.success span.icons {
  background-position: 0 0;
}
.flash span.icons {
  background-image: url("../img/icons.png");
  height: 35px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 36px;
}
.flash span.text {
  padding-left: 50px;
}
h2#header {
  font-weight: bold;
  text-shadow: 10px 10px 10px #666666;
  margin: 27px 0;
}
h2#header a {
  color: navy;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  font-style: italic;
  padding: 1em;
  margin: 0;
  margin-left: 50px;
  font-size: 32px;
}
h2#header a:hover {
  color: #030309;
  text-decoration: none;
}
h2#header + p {
  position: relative;
  top: -22px;
  margin-left: 65px;
  padding-left: 1em;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  font-style: italic;
}
.item_menu a {
  font-size: 1.1em;
  margin-right: 8px;
  font-weight: bold;
}
.item_menu a.active {
  color: green;
}
ul.editor-menu {
  clear: both;
  list-style: none;
  margin: 20px;
  padding-left: 5px;
}
ul.editor-menu li {
  float: left;
}
ul.editor-menu li a {
  background-color: #054560;
  border: 1px solid black;
  color: white;
  display: block;
  font-size: 1.2em;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
}
ul.editor-menu li a.active {
  background-color: white;
  border-bottom: none;
  color: royalblue;
  position: relative;
  top: 1px;
}
ul.editor-menu li a:hover,
ul.editor-menu li a:focus {
  background-color: #6b81cf !important;
  color: black !important;
}
@media (min-width: 701px) {
  .navbar-toggle {
    display: none;
  }
  ul.editor-menu {
    display: block;
  }
}
@media (max-width: 700px) {
  .navbar-toggle {
    background-color: white;
    border: 1px solid grey;
    position: relative;
    float: right;
    clear: right;
  }
  .navbar-toggle > .icon-bar {
    background-color: royalblue;
  }
  .navbar-toggle:hover > .icon-bar {
    background-color: navy;
  }
  ul.editor-menu {
    display: none;
    margin: 0;
    padding: 0;
  }
  ul.editor-menu li {
    float: none;
  }
  ul.editor-menu li a {
    margin-right: 0;
    padding-left: 10px;
    border-left: none;
    border-right: none;
  }
  ul.editor-menu li a.active {
    border-bottom: 1px solid black;
    position: static;
    top: 0;
    padding-left: 20px;
  }
  ul.editor-menu.collapsing {
    display: block;
  }
}
table.grid {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}
table.grid caption {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  margin: 0.7em 0;
}
table.grid td {
  border: 1px solid #add4fb;
  padding: 6px 6px 6px 12px;
  background: white;
}
table.grid th {
  border: 1px solid #add4fb;
  padding: 6px 6px 6px 12px;
  background-color: #e4f1fc;
  color: #7a7772;
  text-align: left;
  font-weight: normal;
}
table.grid tr.special td {
  background-color: #e4e1fc;
}
table.grid#comment tr.even + tr {
  border-bottom: 2px solid #7db9f5;
}
table.grid#comment tr.even.deleted + tr td {
  background-color: #dddddd;
}
table.grid#comment tr.even.deleted td {
  background-color: #bbbbbb;
}
table.grid#comment tr.even td {
  width: 20%;
  color: #7a7772;
  background-color: #e4f1fc;
  text-align: left;
  font-weight: normal;
}
