a {
  color: royalblue;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: #163c54;
  text-decoration: none;
}
.form-control:focus {
  border-color: royalblue;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 105, 225, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 105, 225, 0.6);
}
input[type=submit] {
  margin: 12px 0;
}
hr.line {
  border: 1px solid #999999;
  margin: 10px 0;
}
h1 {
  margin-top: 0;
  font-variant: small-caps;
  font-family: "Calibri", sans-serif;
  color: navy;
  font-size: 32px;
}
.em11 {
  font-size: 1.1em;
}
.em12 {
  font-size: 1.2em;
}
.em15 {
  font-size: 1.5em;
}
img {
  max-width: 100%;
  height: auto;
}
.editor_badge {
  background: #cccccc;
  border-radius: 3px;
  color: black;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.1;
  padding: 1px 3px;
  margin: 0 2px;
}
body {
  font-family: "Calibri", sans-serif;
  background: linear-gradient(27deg, #eaeaea 5px, transparent 5px) 0px 5px, linear-gradient(207deg, #eaeaea 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #dddddd 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #dddddd 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #e4e4e4 10px, transparent 10px), linear-gradient(#e2e2e2 25%, #e5e5e5 25%, #e5e5e5 50%, transparent 50%, transparent 75%, #dbdbdb 75%, #dbdbdb);
  /* http://lea.verou.me/css3patterns/#carbon */
  background-color: #ececec;
  background-size: 20px 20px;
  font-size: 16px;
}
#wrapper {
  max-width: 950px;
  padding: 0;
  width: 100%;
}
#page,
#errorpage {
  box-shadow: 0 0 60px 10px #a8a8a8;
  border-radius: 5px;
  background-color: white;
}
#content {
  padding: 20px 10px;
  color: #111111;
}
ul#menu {
  clear: both;
  list-style: none outside none;
  margin: 20px;
  padding-left: 5px;
}
ul#menu li {
  float: left;
}
ul#menu a {
  background-color: #054560;
  border: 1px solid black;
  color: white;
  display: block;
  font-size: 1.2em;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}
ul#menu a.active {
  background-color: white;
  border-bottom: none;
  color: #054560;
  position: relative;
  top: 1px;
}
ul#menu a:hover,
ul#menu a:focus {
  background-color: #6b81cf !important;
  color: black !important;
}
@media (max-width: 705px) {
  ul#menu {
    margin: 0;
    padding: 0;
  }
  ul#menu a {
    margin-right: 2px;
  }
}
@media (max-width: 600px) {
  ul#menu a {
    padding: 8px 4px;
    font-size: 1.15em;
  }
}
@media (max-width: 500px) {
  ul#menu li {
    float: none;
  }
  ul#menu a {
    margin-right: 0;
    padding-left: 10px;
    border-left: none;
    border-right: none;
  }
  ul#menu a.aktivni {
    border-bottom: 1px solid black;
    position: static;
    top: 0;
    padding-left: 20px;
  }
}
.flash {
  color: black;
  background-color: white;
  border: 1px solid #333333;
  padding: 16px;
  margin: 0 16px 5px 16px;
  top: 16px;
  position: relative;
  font-weight: bold;
}
.flash.error,
.flash.authentification,
.flash.reload {
  border-color: red;
  background-color: pink;
}
.flash.error span.icons {
  background-position: -45px 0;
}
.flash.authentification span.icons {
  background-position: -87px 0;
}
.flash.reload span.icons {
  background-position: -129px 0;
}
.flash.success {
  border-color: green;
  background-color: palegreen;
}
.flash.success span.icons {
  background-position: 0 0;
}
.flash span.icons {
  background-image: url("../img/icons.png");
  height: 35px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 36px;
}
.flash span.text {
  padding-left: 50px;
}
h2#header {
  font-weight: bold;
  text-shadow: 10px 10px 10px #666666;
  margin: 27px 0;
}
h2#header a {
  color: navy;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  font-style: italic;
  padding: 1em;
  margin: 0;
  margin-left: 50px;
  font-size: 32px;
}
h2#header a:hover {
  color: #030309;
  text-decoration: none;
}
h2#header + p {
  position: relative;
  top: -22px;
  margin-left: 65px;
  padding-left: 1em;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  font-style: italic;
}
th.help label {
  border-bottom: 1px dotted black;
  cursor: help;
}
table.grid {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}
table.grid caption {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  margin: 0.7em 0;
}
/* horní a dolní odsazení inputů od sebe v Settings general */

table#settings th {
  padding: 0.4em 0;
}
table.grid td,
table.grid th {
  background: white;
  border: 1px solid #add4fb;
  padding: 6px 6px 6px 12px;
}
table#comment tr.even td,
table.grid th {
  color: #7a7772;
  background: #e4f1fc;
  text-align: left;
  font-weight: normal;
}
table#comment tr.even td {
  width: 20%;
  color: #1b0e03;
}
/* special - aktivní user */

table.grid tr.special td {
  background: #e4e1fc;
}
table#comment tr.even + tr {
  border-bottom: 2px solid #555555;
}
table#comment tr.deleted.even + tr {
  color: #7a7772;
}
table#comment tr.deleted.even td,
table#comment tr.deleted.even td a {
  background-color: #777777;
  color: #dddddd;
}
table#comment tr.deleted.even td a:hover {
  color: white;
}
form table {
  /* top box, botttom box */
  width: 100%;
}
a#logout {
  float: right;
  display: block;
  color: #333333;
  margin: 5px;
  font-size: 1.1em;
}
a:hover#logout {
  color: white;
}
/* Article/*.ltt */

#article_content {
  float: right;
  min-width: 150px;
  width: 75%;
}
/* article_menu.ltt */

#article_menu_wrap {
  font-size: 1.2em;
  float: left;
  max-width: 250px;
  min-width: 100px;
  width: 24%;
}
#article_menu_wrap a#new_article {
  margin-left: 10px;
}
ul#article_menu a.active,
ul#article_menu a.active2,
#item_menu a.active {
  color: green;
}
#item_menu a {
  font-size: 1.1em;
  margin-right: 8px;
  font-weight: bold;
}
h2.bigger {
  font-size: 1.8em;
}
ul.error li {
  color: red;
  font-weight: bold;
}
@media (max-width: 600px) {
  #article_menu_wrap {
    float: none;
    width: 100%;
  }
  #article_content {
    float: none;
    width: 100%;
  }
}
