body{
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1em;
	color: black;
}

#wrapper {
	font-family: "Calibri", sans-serif;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	background: none;
}

a {
	color: red;
	text-decoration: underline;
}

#page {
	margin: 0 auto;
	width: 100%;
	border: none;
	background-color: none;
}

h2#header {
	padding: 30px 0;
	background: none;
	font-size: 1.7em;
	font-weight: bold;
	margin: 0 0 5px 0;
	text-align: left;
	border-bottom: 1px solid black;
}

h2#header a {
	color: black;
	font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-style: italic;
	padding: 1em;
	margin: 0;
}

#article {
	width: 100%;
}

#article h1 {
	margin-top: 0;
	font-family: "Calibri", sans-serif;
}

#article a#comments {
	font-size: 1.2em;
}

.entry h2, .entry .content {
	padding-left: 20%;
}

.entry .info {
	width: 20%;
	float: left;
}

.entry .info p {
	margin-top: 0;
}

.entry .more {
	margin-left: 20%;
	margin-bottom: 0.7em;
	padding-bottom: 5px;
	width: 79%;
	text-align: right;
	border-bottom: 1px dotted #cccccc;
}

.entry .tags {
	margin-left: 20%;
	margin-bottom: 0.7em;
	margin-top: 0.7em;
	width: 79%;
}

hr.article_line {
	border-style: solid;
}

.em12 {
	font-size: 1.2em;
}

.em11 {
	font-size: 1.1em;
}

.em15 {
	font-size: 1.5em;
}

#sidebar {
	display: none;
}

#page_listing {
	text-align: center;
	font-size: 1.3em;
}

#page_listing a, #page_listing span {
	padding: 5px 7px;
	margin: 0 2px;
}

#page_listing span.active_page {
	font-weight: bold;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

#footer {
	margin-top: 10px;
	border-top: 1px black solid;
	background: none;
	font-size: 0.9em;
	text-align: center;
	width: 100%;
	padding: 20px 0;
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
}

img {
	max-width: 100%;
	height: auto;
}

.clear {
	clear: both;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}

input[type=submit] {
	font-size: 1.1em;
	padding: 5px 10px;
	margin: 20px 0;
}

.editor_badge {
	background: #cccccc;
	border-radius: 3px;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.1;
	padding: 1px 3px;
	margin: 0 2px;
}

ul.error li {
	color: #FFA0A0;
	font-weight: bold;
}

.flash {
	border: 1px solid #333333;
	padding: 1em;
	margin-bottom: 1em;
	position: relative;
	font-weight: bold;
	background: none;
}

.flash.error, .flash.authentification, .flash.reload {
	border-color: red;
}

.flash.success {
	border-color: green;
}

span.icons {
	background-image: url("../img/icons.png");
	height: 35px;
	left: 15px;
	position: absolute;
	top: 6px;
	width: 36px;
}

.flash.success span.icons {
	background-position: 0 0;
}

.flash.error span.icons {
	background-position: -45px 0;
}

.flash.authentification span.icons {
	background-position: -87px 0;
}

.flash.reload span.icons {
	background-position: -129px 0;
}

.flash span.text {
	padding-left: 50px;
}

#rss, #print {
	display: none;
}

.ajaxsuccess {
	color: #90EE90;
	font-weight: bold;
}

.ajaxerror {
	color: #FFC1C1;
	font-weight: bold;
}

table#table_poll {
	margin-left: 30px;
}

td.poll_graph_td {
	width: 120px;
}

.poll_graph {
	background: black;
	font-size: 8px;
	margin: 0 10px;
}
