#article {
	width: 100%;
}
#article h1 {
	margin-top: 0;
}
hr.line {
	border-style: solid;
}
.sidebar {
	display: none;
}
.rss img, .print img {
	display: none;
}
.page_listing {
	text-align: center;
	font-size: 1.3em;
}
.footer {
	border-top: 1px solid black;
}